[submodule "2_Dataset-Preparation/ImageRecognitionDataset-Downloader"]
	path = 2_Dataset-Preparation/ImageRecognitionDataset-Downloader
	url = https://github.com/chatflip/ImageRecognitionDataset.git
[submodule "5_BrainScore/sample-model-submission"]
	path = 5_BrainScore/sample-model-submission
	url = https://github.com/brain-score/sample-model-submission.git
[submodule "1_Generate-Retinal-Waves/Retinal-Wave-Simulator"]
	path = 1_Generate-Retinal-Waves/Retinal-Wave-Simulator
	url = https://github.com/BennyCa/Retinal-Wave-Simulator.git
	branch = main
[submodule "3_Pretraining-and-Finetuning/FractalDB_Pretraining-Finetuning"]
	path = 3_Pretraining-and-Finetuning/FractalDB_Pretraining-Finetuning
	url = https://github.com/hirokatsukataoka16/FractalDB-Pretrained-ResNet-PyTorch.git
	branch = main
